h1 {

	text-align: center;
}

table {
	margin: auto;
}

td {
	height: 100px;
	width: 100px;

}


#top-middle {
	border-left: 1px solid black;
	border-right: 1px solid black;
	
}

#middle-left {
	border-top: 1px solid black;
	border-bottom: 1px solid black 
}

#middle-middle {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;	 
}

#middle-right {
	border-top: 1px solid black;
	border-bottom: 1px solid black 
}

#bottom-middle {
	border-left: 1px solid black;
	border-right: 1px solid black;
}